html, body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: "Source Sans 3", sans-serif;
}

/* Header */
header{
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 67px;
    display: flex;
    justify-content: space-between;  
    border-bottom: 1px solid #C6C6C6;
    background-color: #FFFFFF;
}

header img{
    width: 127px;
    height: 33.02px;
    margin-top: 16px;
    margin-left: 15px;
}


.user-img{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-right: 16px;
}

/* Main-section */

main{
    width: 375px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

.user-profile{
    display: flex;
}

.avatar{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.user-origin{
    margin-left: 7px;
}

.username{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 11px;
}

.location{
    font-size: 12px;
    margin-top: 0;
}

.post{
    width: 375px;
    height: 375px;
}

.messanger{
    margin-top: 21px;
    margin-left: 10px;
}

.logos{
    display: flex;
    width: 104px;
    height: 22px;
}

.comment, .dm {
    margin-left: 20px;
}

.likes, span{
    font-size: 13px;
    font-weight: bold;
    margin-top: 12px;
}

.messanger p{
    font-size: 13px;
    margin-top: 12px;
}

.second-profile, .third-profile {
    margin-top: 25px;
} 








